*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 600px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);

    padding: 10px;
}

h3,h4{
    color: #000;
    text-align: center;
}

.imgbox{
    width: 100%;
    margin-left: 30px;
}

.imgbox img{
    width: 250px;
    height: 250px;
    object-fit: cover;

    transition: all 0.5s;
}


.imgbox img:hover{
    opacity: 0.8;
    filter: blur(1.5px);
}
.btn{
    width: 100%;
    background-color: steelblue;
    color: #fff;
    font-size: 24px;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.btn:hover{
    background-color: darkblue;
}

.answer:checked + label img{
    transform: scale(1.1);
    box-shadow: 3px 5px 10px rgba(0,0,0,0.3);
}

